<!--  
&nbsp; - неразрывный пробел (англ. non-breaking space) - элемент отображающийся
подобно обычному пробелу, но не позволяющий программам отображения разорвать
в этом месте строку.
!!! А если результат <p class="result-alert"><span class="bold">postponed</span></p>
postponed - отложено
Всегда пробел перед круглыми скобками !
-->

<!--  Basketball  -->
<div id="event-status"><p class="result"><span class="bold">Final result </span><strong>109:108&nbsp;OT&nbsp;(99:99)</strong> (27:25, 17:25, 21:25, 30:20, 8:5)</p></div>
<div id="event-status" xeid="bBt46Jkc"><p class="result"><span class="bold">Final result </span><strong>128:115</strong> (45:22, 24:37, 30:25, 9:31)</p></div>

<!--  Baseball  3 extra innings -->
<div id="event-status" xeid="h6Xc7AJB">
  <p class="result">...<strong>2:4</strong> (0:0, 0:0, 0:0, 0:0, 2:0, 0:0, 0:1, 0:1, 0:0, 0:2)</p>
</div>

<!-- 1. Зменить пробелы где Тотал больше и убрать для примера <span> -->
<p class="result"> ... <strong>109:108 OT (99:99)</strong> (27:25, 17:25, 21:25, 30:20, 8:5)</p>
<p class="result"> ... <strong>128:115</strong> (45:22, 24:37, 30:25, 29:31)</p>