*.pyc
libs/__pycache__

# iPython temp files
ipython/.ipynb_checkpoints
ipython/quarantine/.ipynb_checkpoints
jupiter/.ipynb_checkpoints
jupiter/quarantine/.ipynb_checkpoints

# log files
delta.log
*.log
